.todoFormContainer {
  margin-bottom: 30px;
}
.todoFormContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.todoFormContainer input {
  padding: 10px 15px;
  width: 20%;
  height: 35px;
  font-size: 1.3rem;
  background-color: aliceblue;
  color: black;
  border: 3px solid black;
  border-radius: 8px;
}

.todoFormContainer button {
  padding: 10px 15px;
  margin-left: 15px;
  font-size: 30px;
  background-color: black;
  color: white;
  border: 3px solid dark;
  border-radius: 8px;
  cursor: pointer;
}
.todoFormContainer button:hover {
  background-color: white;
  color: orange;
  transition: 0.5ms;
}
