* {
  text-decoration: none;
}
.App {
  text-align: center;
}

/*Used by default with NavLink*/
.active {
  color: white;
  background-color: black;
  border-radius: 10%;
  border: 3px solid white;
  padding: 10px;
  transition: 800ms;
  text-decoration: none;
}

/* .activeLink {
  color: white;
  background-color: black;
  border-radius: 10%;
  border: 3px solid white;
  padding: 10px;
  transition: 800ms;
} */

a {
  color: lightblue;
  font-size: 35px;
}

nav {
  background-color: darkslategray;
  padding: 5px;
}
nav a {
  margin: 15px;
}
h1 {
  font-size: 90px;
  margin-top: 20px;
}
button {
  padding: 15px;
  font-size: 30px;
  border: 0;
  border-radius: 5px;
  margin: 20px;
  cursor: pointer;
}
